.container {
    min-width: 300px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;;
    padding: 1em;
    background-color: rgb(19, 1, 7);
    color: white;
    text-align: center;
}

