@mixin border-style($size, $color, $style) {
    border: {
    width: $size;
    color: $color;
    style: $style;
    }
  }

  @mixin container-style($width, $height, $padding, $margin, $b-color){
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
    background-color: $b-color;
  }

 