.one-line{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
// template замість % можна писати .

.light {
  background-color: lightgrey;
  color: grey;
}

.dark{
  background-color: rgb(58, 56, 56);
  color: rgb(238, 236, 236);
}