@use 'src/common/styles/breakpoint' as bp;
.container{
  max-width: 350px;
  margin: auto;
  background-color: rgb(247, 187, 195);
  @media screen and (min-width: bp.$sm) {
    max-width: bp.$sm-max-width;
  }
  @media screen and (min-width: bp.$md) {
    max-width: bp.$md-max-width;
  }
  @media screen and (min-width: bp.$lg) { 
    max-width: bp.$lg-max-width;
  }
  @media screen and (min-width: bp.$xlg) {
    max-width: bp.$xlg-max-width;
  }
}
