$width:300px;
.container{
width: $width;
display: flex;
flex-direction: column;
position: fixed;
top: 0;
bottom: 0;
left:- $width; ;
background-color: palevioletred;
color: aliceblue;
a{
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    font-size: 1.5em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: uppercase;
   &:hover{
    background-color: rgba(255,255,255,0.3)
   }
}

}
.closeBtn{
    box-sizing: content-box;
    margin-left: auto;
    padding: 0.5rem;
}
.open{
    left: 0;
}

//"css.lint.unknownAtRules": "ignore",