@use 'src/common/styles/template' as t;

.header{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    >*{
        margin-left: 30px;
    }
}
.light {
    @extend .light;
}
.dark {
    @extend .dark;
}