.container {
    min-width: 300px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;;
    padding: 1em;
    background-color: rgb(221, 112, 148);
    color: white;
    text-align: center;
}
.btn {
    width: 70px;
    margin: 0.5em;
    font-size: 1.3em;
}